*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: #0C0B12;
}

.lock{
    @media(max-width:768px){
        overflow: hidden;
    }
}

.container{
   margin: 0 auto;
   padding: 0 10px;
   max-width: 1100px;
}

h2{
    max-width: 542px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button__primary{
    padding: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
    background: #EEF146;
    box-shadow: 0px 0px 13px rgba(84, 241, 70, 0.39);
    border-radius: 5px;
    cursor: pointer;

    position: relative;

    transition: background .5s linear;
    &:hover{
        background: #f1ae46;
    }
    img{
        padding-left: 10px;
        max-width: 46px;
        height: auto;
    }
}

.header{
    background: rgba(255, 255, 255, 0.01);
    .header__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .header__nav-logo{
            a{
                img{
                    max-width: 71px;
                    height: 71px;
                }
            }
        }
        .header__nav-menu{
            display: flex;
            @media(max-width:768px){
                display: block;
                position: fixed;
                top: 0;
                right: 150%;
                z-index: 8;
                width: 100%;
                height: 100%;
                background: rgb(26,27,80);
                background: radial-gradient(circle, rgba(26,27,80,1) 0%, rgba(0,0,0,1) 100%);

                // transition: all 0.3s ease;
            }
            .header__nav-item{
                display: block;
                @media(max-width:768px){
                    position: relative;
                    top: 36%;
                    right: 90%;
                    text-align: center;

                    transition: all 1s ease;
                }
                ul{
                    display: flex;
                    @media(max-width:768px){
                        display: block;
                    }
                    li{
                        margin: 0 50px;
                        list-style: none;
                        @media(max-width: 992px){
                            margin: 0 20px;
                        }
                        @media(max-width:768px){
                            margin-top: 34px;
                        }
                        a{  
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #FFFFFF;
                            text-decoration: none;
                            transition: color .5s linear;
                            &:hover{
                                color: #EEF146;
                            }
                        }
                    }
                }
            }
            .active{
                right: 0;
            }
            .header__nav-button{
                margin-left: 100px;
                display: block;
                @media(max-width:768px){
                    margin-left: 0;
                    position: relative;
                    top: 42%;
                    right: 74%;
                    text-align: center;

                    transition: all 1s ease;
                }
            }
            .active{
                right: 0;
            }
        }
        .active{
            right: 0;
        }
        .header__nav-burger{
            display: none;
            @media(max-width: 768px){
                display: block;
                position: relative;
                z-index: 10;
            }
            .burger__1{
                margin: 6px 0 6px;
                width: 33px;
                height: 4px;
                background: #EEF146;
                border-radius: 40px;

                transition: all 0.5s ease;
            }
            .burger__2{
                margin: 6px 0 6px;
                margin-left: 8px;
                width: 24px;
                height: 4px;
                background: #EEF146;
                border-radius: 40px;

                transition: all 0.5s ease;
            }
            .burger__3{
                margin: 6px 0 6px;
                width: 33px;
                height: 4px;
                background: #EEF146;
                border-radius: 40px;

                transition: all 0.5s ease;
            }
        }
        .active .burger__1{
            transform: rotate(-45deg);
            position: relative;
            top: 0;
        } 
        .active .burger__2{
            display: none;
        } 
        .active .burger__3{
            transform: rotate(45deg);
            position: relative;
            top: -10px;
        } 
    }
}

.home{
    margin-bottom: 275px;
    position: relative;
    .home__drawing-1{
        position: absolute;
        top: 0;
        left: 24%;
        transform: translate(-78%, -14%);
        z-index: 2;
        @media(max-width: 1250px){
            left: 14%;
            transform: translate(-64%, -14%);
        }
        @media(max-width:992px){
            left:15%;
        }
        @media(max-width: 768px){
            display: none;
        }
        img{
            width: 100%;
            height: auto;
            @media(max-width:992px){
                width: 54%;
            }
        }
    }
    .home__drawing-2{
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @media(max-width:1250px){
            top: 28%;
            left: 53%;
            transform: translate(-44%, -53%);
        }
        @media(max-width: 992px){
            top: 8%;
            left: 65%;
            transform: translate(-53%, -50%);
        }
        @media(max-width: 768px){
            display: none;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .home__drawing-3{
        position: absolute;
        top: 15%;
        right: 18%;
        transform: translate(100%, -11%);
        z-index: 2;
        @media(max-width: 992px){
            right: 18%;
        }
        @media(max-width: 768px){
            display: none;
        }
        img{
            width: 100%;
            height: auto;
            @media(max-width: 992px){
                width: 72%;
            }
        }
    }
    .home__drawing-4{
        position: absolute;
        bottom: -280px;
        left: 70px;
        transform: translate(28%, -35%);
        z-index: 2;
        @media(max-width: 768px){
            left: 10%;
            transform: translate(0%, -0%);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .home__filter-1{
        width: 196px;
        height: 196px;
        background: #040581;
        filter: blur(177.5px);

        position: absolute;
        top: 200px;
        left: 0;
    }
    .home__filter-2{
        width: 196px;
        height: 196px;
        background: rgba(238, 241, 70, 0.47);
        filter: blur(177.5px);

        position: absolute;
        top: 20%;
        left: 50%;
        @media(max-width:375px){
            width: 180px;
            height: 180px;
            left: 0%;
        }
    }
    .home__filter-3{
        width: 196px;
        height: 196px;
        background: #040581;
        filter: blur(177.5px);

        position: absolute;
        top: -20%;
        right: 0;
    }
    .home__body{
        margin: 153px 0;
        text-align: center;

        position: relative;
        z-index: 6;
        &-title{
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            color: #FFFFFF;
        }
        &-text{
            margin: 37px auto 47px;
            max-width: 593px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
        }

    }
}

.advantag{
    margin-bottom: 110px;
    padding-top: 90px;

    position: relative;
    .advantag__drawing{
        position: absolute;
        bottom: -10%;
        right: 20%;
        transform: translate(14%, 0%);
        img{
            width: 100%;
            height: auto;
        }
    }
    .advantag__body{
        .advanced__body-title{
            margin: 0 auto;
        }
        .advantag__body-lists{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            @media(max-width: 1250px){
                justify-content: space-evenly;
            }
            .advantag__element{
                margin: 81px 10px 0;
                &-img{
                    max-width: 100px;
                    height: auto;
                }
                &-text{
                    margin-top: 45px;
                    max-width: 338px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }

        }
    }
}

.about{
    margin-bottom: clamp(215px, 5%, 50%);
    padding-top: 90px;

    position: relative;
    .about__drawing-1{
        position: absolute;
        top: 10%;
        right: 13%;
        transform: translate(-13%, -10%);
        @media(max-width:1250px){
            right: 8%;
            transform: translate(20%, -10%);
        }
        @media(max-width:768px){
            display: none;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .about__drawing-2{
        position: absolute;
        top: 72%;
        left: 16%;
        transform: translate(-48%, -66%);
        @media(max-width: 1250px){
            left: 12%;
            transform: translate(-61%, -66%);
        }
        @media(max-width:768px){
            display: none;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .about__drawing-3{
        position: absolute;
        bottom: 27%;
        right: 20%;
        transform: translate(14%, -6%);
        @media(max-width: 768px){
            bottom: 36%;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .about__filter-1{
        width: 196px;
        height: 196px;
        background: #040581;
        filter: blur(177.5px);

        position: absolute;
        top: 10%;
        left: 0;
    }
    .about__filter-2{
        width: 196px;
        height: 196px;
        background: #040581;
        filter: blur(177.5px);

        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -40%);
    }
    .about__filter-3{
        width: 196px;
        height: 196px;
        background: rgba(84, 241, 70, 0.68);
        filter: blur(177.5px);

        position: absolute;
        bottom: 20%;
        right: 40%;
        transform: translate(-40%, -20%);
        z-index: 1;
    }
    .about__body{
        position: relative;
        z-index: 4;
        &-title{
            margin: 0 auto;
            margin-bottom: 78px;
        }
        &-text{
            margin-bottom: 50px;
            max-width: 780px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 149.19%;
            color: #FFFFFF;
            span{
                color: #EEF146;
            }
        }
        &-img_1{
            max-width: 812px;
            position: relative;
            @media(max-width:992px){
                display: flex;
                margin: 20px auto;
            }
            img{
                width: 100%;
                height: auto;

                position: relative;
                top: 60px;
                left: -60px;
                z-index: 1;
                @media(max-width:992px){
                    left: 0;
                }
            }
            
        }
        &-img_2{
            max-width: 860px;
            @media(max-width:1250px){
                max-width: 800px;
            }
            @media(max-width:992px){
                display: flex;
                margin: 0 auto;
            }
            img{
                width: 100%;
                height: auto;

                position: relative;
                top: -113px;
                left: 146px;
                z-index: 2;
                @media(max-width:992px){
                    top: 0;
                    left: 0;
                }
            }
        }
        .application{
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 992px){
                margin-top: 100px;
            }
            @media(max-width: 768px){
                display: block;
                margin-top: 180px;
            }

            .application__info{
                &-title{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 38px;
                    color: #FFFFFF;
                }
                &-text{
                    margin: 46px 0 56px;
                    max-width: 400px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 149.19%;
                    color: #FFFFFF;
                }
            }
            .application__img{
                display: flex;
                max-width: 700px;

                position: relative;
                top: 0;
                right: -100px;
                @media(max-width: 1250px){
                    max-width: 660px;
                    right: 0;
                }
                @media(max-width: 992px){
                    max-width: 484px;
                }
                @media(max-width: 768px){
                    max-width: 100%;
                    display: flex;
                    margin-top: 26px;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

    }
}

.price{
    margin-bottom: 350px;

    position: relative;
    .price__drawing-1{
        position: absolute;
        top: -18%;
        left: 18%;
        transform: translate(-13%, 0%);
        z-index: 2;
        @media(max-width: 1060px){
            top: -13%;
        }
        @media(max-width: 713px){
            top: -8%;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .price__drawing-2{
        position: absolute;
        top: 27%;
        left: 5%;
        transform: translate(-84%, 0%);
        z-index: 2;
        img{
            width: 100%;
            height: auto;
        }
    }
    .price__drawing-3{
        position: absolute;
        bottom: -40%;
        right: 20%;
        transform: translate(14%, 0%);
        @media(max-width: 1060px){
            bottom: -18%;
        }
        @media(max-width: 768px){
            bottom: -12%;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .price__body{
        position: relative;
        z-index: 4;
        .price__body-title{
            margin: 0 auto 70px;
        }
        .price__body-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .blue{
                background: rgb(13,32,16);
                background: linear-gradient(360deg, rgba(13,32,16,0.16) 10%, rgba(51,33,163,0.3) 50%, rgba(12,11,18,1) 85%);
            }
            .yellow{
                background: rgb(13,32,16);
                background: linear-gradient(360deg, rgba(13,32,16,0.16) 10%, rgba(220,210,0,0.16) 50%, rgba(12,11,18,1) 85%);
            }
            .green{
                background: rgb(13,32,16);
                background: linear-gradient(360deg, rgba(13,32,16,1) 10%, rgba(19,203,3,0.16) 50%, rgba(12,11,18,1) 85%);
            }
            .price__card{
                padding: 52px 28px 46px 36px;
                max-width: 347px;
                height: auto;
                border: 0.5px solid #FFFFFF;
                filter: drop-shadow(0px 0px 25px rgba(238, 241, 70, 0.38));
                border-radius: 5px;
                @media(max-width: 1250px){
                    margin-bottom: 26px;
                }
                &-title{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 38px;
                    color: #FFFFFF;
                }
                &-text{
                    margin: 72px 0 206px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #FFFFFF;
                }
                .text__pd{
                    margin-bottom: 168px;
                }
                &-button{
                    padding: 10px 94px;
                    background: #EEF146;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    text-decoration: none;

                    transition: background .5s linear;
                    &:hover{
                        background: #f1ae46;
                    }
                    @media(max-width:374px){
                        padding: 10px 64px;
                    }
                }
            }
        }
    }
}

.footer{
    background: linear-gradient(90deg, #0C0B12 35.26%, rgba(78, 80, 0, 0.58) 100%);
    box-shadow: 0px -1px 42px 6px rgba(4, 5, 129, 0.35);

    position: relative;
    .footer__drawing-1{
        position: absolute;
        top: 65%;
        left: 66%;
        transform: translate(-50%, -72%);
        z-index: 1;
        @media(max-width:768px){
            display: none;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .footer__big-logo{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        img{
            opacity: .4;
            max-width: 100%;
            height: auto;
        }
    }
    .footer__body{
        padding: 42px 0 18px;

        position: relative;
        z-index: 4;
        &-title{
            margin-bottom: 22px;
            text-align: left;
            @media(max-width:768px){
                margin-bottom: 36px;
            }
        }
        .footer__body-col{
            display: flex;
            justify-content: space-between;
            @media(max-width:768px){
                display: block;
            }
            .footer__body-col__icons{
                display: block;
                .icon__tel{
                    display: flex;
                    align-items: center;
                    &-img{
                        max-width: 40px;
                        max-height: 40px;
                    }
                    &-p{
                        padding-left: 16px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }
                }
                .icon__location{
                    margin: 24px 0;
                    display: flex;
                    align-items: center;
                    &-img{
                        max-width: 40px;
                        max-height: 40px;
                    }
                    &-p{
                        padding-left: 16px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }
                }
                .icon__soc{
                    ul{
                        display: flex;
                        li{
                            list-style: none;
                            
                            transition: transform .5s linear;
                            &:hover{
                                transform: rotate(20deg);
                            }
                            
                            a{
                                text-decoration: none;
                                margin-right: 20px;
                                img{
                                    max-width: 40px;
                                    max-height: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .footer__body-col__menu{
                ul{
                    li{
                        margin-bottom: 30px;
                        list-style: none;
                        a{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            color: #FFFFFF;
                            text-decoration: none;

                            transition: color .5s linear;
                            &:hover{
                                color: #EEF146;
                            }
                        }
                    }
                }
                @media(max-width:768px){
                    display: none;
                }
            }
            .footer__body-col__info{
                @media(max-width:768px){
                    margin: 36px 0;
                }
                .info__p{
                    margin-bottom: 40px;
                    max-width: 346px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 154.69%;
                    color: #FFFFFF;
                    a{
                        color: #FFB651;
                        text-decoration: none;
                    }
                }
            }
        }
        .footer__logo{
            a{
                text-decoration: none;
                img{
                    max-width: 70px;
                    max-height: 70px;
                }
            }
        }
        
    }
}
